/* 타이틀 */
.title {
    position: relative; text-align: center;
}
.title h2 {
    font-family: 'SDSamliphopangche_Outline';
    cursive; font-size: 39px;
    color: #ff9800;
    padding: 5px 0;
}
.title .btn {
    position: absolute; top: -9px;
    width: 60px; height: 60px;
    line-height: 55px;
    background: #ff5722d9;
    color: #fff;
    font-size: 35px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.title .btn:hover {
    box-shadow:
        0 0 0 3px #ffffffe8 inset,
        0 0 0 100px rgba(0,0,0,0.1) inset; 
}

.title .btn i {
    position: relative;
    top: -5px;
    color: #ffffff;
}

.column {
    padding: 15px;
}

.column .col_tit {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cafe24SsurroundAir', sans-serif;
    color: #ff5722;
    padding-bottom: 5px;
}
.column .col_desc {
    border-bottom: 1px dashed #dbdbdb; 
    padding-bottom: 15px; margin-bottom: 15px; 
    color: #878787; line-height: 18px;
    font-family: 'Cafe24SsurroundAir', sans-serif;
}

.column .col_tit_r {
    font-size: 20px;
    font-family: 'Cafe24SsurroundAir', sans-serif;
    color: #ff5722;
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
}
.column .col_desc_r {
    border-bottom: 1px dashed #dbdbdb; 
    padding-bottom: 15px;
    margin-bottom: 15px; 
    color: #878787;
    line-height: 18px;
    font-family: 'Cafe24SsurroundAir', sans-serif;
    text-align: center;
}

.column.col1 {border-bottom: 1px solid #dbdbdb;}
.column.col2 {min-height: 911px;}
.column.col2_1 {min-height: 1188px;}
.column.col3 {}
.column.col4 {border-bottom: 1px solid #dbdbdb;}
.column.col4_1 {}
.column.col5 {border-bottom: 0;}
.column.col6 {}
.column.col7 {}
.column.col8 {}
.column.col9 {border-bottom: 0;}

/* 메뉴 */
.menu {}
.menu li {position: relative;}
.menu li a {
    font-size: 16px; text-transform: uppercase;
    font-family: 'Cafe24SsurroundAir', sans-serif;
    color: #878787;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px; display: block;
    transition: box-shadow 0.34s ease, background 0.34s ease;
}
.menu li a i {
    position: absolute; right: 10px; top: 15px;
}
.menu li a:hover {
    box-shadow: inset 180px 0 0 0 #ff5622b9;
    color: #fff;
    background: #ff5622de;
    text-decoration: none;
}

/* 게시판1 */
.notice1 {position: relative;}
.notice1 h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cafe24SsurroundAir', sans-serif;
    margin-top: 15%;    
}
.notice1 h5 {font-size: 14px; color: #2f7fa6; padding-bottom: 5px;}
.notice1 li {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
    font-family: 'Cafe24SsurroundAir', sans-serif;
}
.notice1 li:before {
    content: '';
    width: 3px; height: 3px;
    border-radius: 50%;
    background: #449ce2;
    position: absolute; left: 0; top: 6px;
}
.notice1 .more {
    position: absolute; right: 0; top: 3px;
    color: #878787;
    text-transform: uppercase;
    font-size: 10px;
}

summary.more_btn {
    display: list-item;
    margin-bottom: 3%;
    font-size: 15px;
}

/* 게시판2 */
.notice2 {position: relative;}
.notice2 h5 {font-size: 14px; color: #2f7fa6; padding-bottom: 5px;}
.notice2 li {
    position: relative;
    overflow: hidden; text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    padding-left: 8px;
    padding-bottom: 5px;
    max-height: 40px; /* ie */
}
.notice2 li:before {
    content: '';
    width: 3px; height: 3px;
    border-radius: 50%;
    background: #449ce2;
    position: absolute; left: 0; top: 6px;
}
.notice2 .more {
    position: absolute; right: 0; top: 3px;
    color: #878787;
    text-transform: uppercase;
    font-size: 10px;
}

/* 블로그1 */
.blog1 img {width: 100%;}
.blog1 .img-retina {display: none;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min-device-pixel-ratio: 1.5),
        only screen and (min-resolution: 1.5dppx) {
        .blog1 .img-retina {display: initial;}
        .blog1 .img-normal {display: none;}
}

/* 블로그2 */
.blog2 h5 {color: #fff; text-align: center; padding: 30px 30px; text-transform: uppercase;}
.blog2 p {padding-top: 5px;}
.blog2 .img-retina {
    background-image: url(../img/blog4_@1.jpg);
    background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 2dppx) {
        .blog2 .img-retina {background-image: url(../img/blog4_@2.jpg);}
}
@media only screen and (-webkit-min-device-pixel-ratio: 3),
        only screen and (min-device-pixel-ratio: 3),
        only screen and (min-resolution: 3dppx) {
        .blog2 .img-retina {background-image: url(../img/blog4_@3.jpg);}
}


/* 비디오 */
.video {position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin: 3% 0;
}
.video iframe {position: absolute; width: 100%; height: 100%;}

/* 컨텐츠 */
.col_cont_tit {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Cafe24SsurroundAir', sans-serif;
    margin-top: 15spx;
    margin-bottom: 10px;
}

.col_cont_body {
    font-size: 16px;
    font-family: 'Cafe24SsurroundAir', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col_cont_body_last {
    font-size: 16px;
}

.col_cont_body_line {
    border-bottom: 1px dashed #dbdbdb;
}

/* 랜덤 메뉴 */
.random_eat {
    
}

.random_eat span:first-child {
    display: block;
    font-size: 26px;
    font-family: 'SDSamliphopangche_Outline';
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.random_eat span:nth-child(n+2) {
    display: inline-block;
    font-size: 18px;
    font-family: 'Cafe24SsurroundAir';
    width: 33%;
    margin-right: 0%;
}

.random_eat_menu {
    margin-left: 9%;
}

/*  테이블 */
#maxRows{
    width: 18%;
}
.table_form {
    width: 96%;
    text-align: center;
    margin: auto;
}
.table {
    margin-left: 1%;
	text-align:center;
}

.table th {
    text-align: center;
}
.table th:nth-child(1) {
    width: 14%;
}

.table th:nth-child(3), .table td:nth-child(3) {
    width: 17%;
    text-align: left;
}

.table td {
    border-bottom: 1px solid lightgray;
}

.table td:nth-child(1), .table td:nth-child(3) {
    vertical-align: middle;
}

.table .main_a {
  color: #ff5722;
}


/* 메인컨텐츠 */
.main_content_tit {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Cafe24SsurroundAir', sans-serif;
    margin: 5% 0 7% 0;
}

.main_content_wrap {
 margin-left: 2%;   
}

.main_content_tit_underline {
    border-bottom: 12px solid #FFAD5B;
    padding: 0 0 0 0.2em;
}

#pagination {
    margin: 0px;
    margin-bottom: 5px;
}

/*  위로이동 버튼 */
#back-to-top {
    display: inline-block;
    background-color: #ff5722;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
  }
  #back-to-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #back-to-top:hover {
    cursor: pointer;
    background-color: #333;
  }
  #back-to-top:active {
    background-color: #555;
  }
  #back-to-top.show {
    opacity: 1;
    visibility: visible;
  }

  /* to-dolist */
  .js-toDoWrite, .list-title,
  .clear > .js-clear-button {      
    font-family: 'Cafe24SsurroundAir', sans-serif;
    font-weight: bold;
  }
  .body_column {
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
  }
  
  .toDoList input,
  .toDoList li {
    width: 360px;
  }
  
  .checked input,
  .checked li {
    width: 360px;
  }
  
  .toDoForm {
    margin-top: 20px;
  }
  
  .toDoForm input::placeholder {
    font-size: 20px;
  }
  
  .todo_column {
    background-color: #c0484866;
    border-radius: 20px;
    box-sizing: border-box;
    min-height: 1161px;
  }
  
  .js-toDoWrite {
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    padding: 6px 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    transition: border-color 0.5s ease-in-out;
    width: 380px;
    text-align: center;
  }
  .js-toDoWrite::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .js-toDoWrite:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .js-toDoList {
    margin: 20px;
    padding-inline-start: 0px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .js-toDoList > ul,
  .checked > ul {
    font-size: 20px;
  }
  .js-toDoList > li,
  .checked > li {
    list-style: none;
    display: flex;
    position: relative;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 16px;
    border-radius: 6px;
    margin-bottom: 4px;
    color: black;
    font-size: 20px;
    animation: fadeIn 0.5s ease-in;
  }
  
  .js-toDoList > li > span,
  .checked > li > span {
    margin-left: 10px;    
    font-family: 'Cafe24SsurroundAir', sans-serif;
    font-weight: bold;
  }
  
  .js-toDoWrite li span {
    margin-left: 10px;
    font-size: 20px;
  }
  
  .checked li {
    opacity: 0.7;
    width: 280px;
  }
  
  .checked .fa-check-square {
    color: tomato;
  }
  
  #delBtn {
    border: none;
    position: absolute;
    text-decoration: none;
    right: 20px;
  }
  
  #strikeout {
    height: 2px;
    width: 79%;
    background-color: tomato;
    position: absolute;
    left: 38px;
  }
  
  .fa-square,
  .fa-check-square,
  #delBtn,
  .clear span:hover {
    cursor: pointer;
  }
  
  .toDoList,
  .checked {
    margin: 10px;
  }
  
  .list-title {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    margin: 15px 0px 0px 0px;
  }
  
  .clear {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    font-size: 15px;
  }
  
  .clear span:hover {
    cursor: ;
  }

  /* 검색 */
  .search_list {
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    position: relative;
    font-family: 'Cafe24SsurroundAir', sans-serif;
    font-weight: bold;
  }

  .search_list_wrap {
    background-color: #c0484866;
    border-radius: 20px;
    box-sizing: border-box;
    min-height: 1161px;
    width: 100%;
  }

  .search_bar {
    display: flex;
    text-align: center;
    margin-top: 20px;
    justify-content: center
  }

  #shop_name {
    border-radius: 25px 0px 0px 25px;
    border: 0;
    padding: 8px 15px 8px 30px;
  }

  #search {
    font-size: 15px;
    border: 0;
    background-color: #aaaaaa00;
    line-height: 36px;
    border-radius: 0px 25px 25px 0px;
    background: #ffffff;
    width: 8%;
  }

  .result_search {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px 0px 30px;
    color: #ffffff;
  }

  .shop_box {
    margin-top: 10px;
    margin-left: 6.5%;
    width: 88%;
    list-style: none;
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 16px;
    border-radius: 6px;
    margin-bottom: 4px;
    color: black;
    font-size: 20px;
    animation: fadeIn 0.5s ease-in;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .shop_category{
    margin-bottom: 22px;
    background-color: rgb(255 255 255);
    border-radius: 50px;
    padding: 5px 10px;
  }